#hackcomp-container {
    margin: auto;       /* centers div */
    background-color: rgba(250, 250, 250, 0.05);
    backdrop-filter: blur(10px);
    display: grid;
    grid-gap: 1em;
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
    max-width: 1000px;
    min-width: 400px;
}
h1 {
    font-size: 2em;
    margin: 0;
    padding: 0;
    margin-bottom: 0.3em;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.6em;
    }
    #hackcomp-container {
       margin: 0;
       padding: 0;
       padding: 15px;
       display: block;
       min-width: 350px;
    }
}